body{
    padding: 0;
    margin: 0;
}
.topNav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#title{
    font-family: 'Edu SA Hand', cursive;
    font-size: 2.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clueContainer{
    width: 50%;
    display: flex;
    margin-top: 5vh;
    align-items: center;
    gap: 2vh;
    flex-direction: column;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.clues{
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: 'Edu SA Hand', cursive;
    padding: 5px;
}

#clue1, #clue2, #clue3, #clue4, #clue5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color:rgb(230, 230, 230);
}

#clue1{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

#calories{
    color: rgb(255, 0, 0);
}

#carbs{
    color: rgb(2, 158, 2)
}

#protein{
    color: rgb(0, 0, 255);
}

#fat{
    color: rgb(255, 165, 0);
}

.guessForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    margin-top: 10vh;
}

.guessContainer input{
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid rgb(90, 90, 90);
}

.guessContainer button{
    padding: 10px;
    width: 50%;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgb(76, 175, 80);
    color: white;
    border: none;
    cursor: pointer;
}

.guessContainer button:hover{
    background-color: rgb(90, 192, 96);
}  

.previousGuessesContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    font-family: 'Edu SA Hand', cursive;
}