<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap" rel="stylesheet">

    <title>Nutri-Guess</title>
</head>
<body>
    <div class="topNav">
        <h1 id="title">Nutri-Guess</h1>
    </div>

    <div class="container">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        

        
    <div class="clueContainer">
        <div class="clues">
        <div id="clue1">
        {% if clues %}
        <p id="calories">Calories: {{ clues[0].calories }}</p>
        <p id="protein">Protein: {{ clues[0].protein }}</p>
        <p id="fat">Fat: {{ clues[0].fat }}</p>
        <p id="carbs">Carbs: {{ clues[0].carbs }}</p>
        </div>
        {% for clue in clues[1:] %}
            {% if clue is mapping %}
            <ul>
                {% for key, value in clue.items() %}
                   <p><li id="{{ key.title() }}">{{ value }}</li></p>
                {% endfor %}
            </ul>
            {% else %}
            <p id="clue{{ loop.index + 1 }}">{{ clue }}</p>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="guessContainer">
        <form class="guessForm" id="guessForm" action="/guess" method="POST">
        <input type="text" name="guess" id="guessInput" placeholder="Enter your guess here...">
        <button type="submit" id="guessButton">Guess</button>
        </form>
    </div>

    <div class="previousGuessesContainer">
        <h2>Previous Guesses</h2>
        <ul id="previousGuessesList">
            {% for guess in guesses %}
                <li>{{ guess }}</li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>